

.banner{
    background-color:#003366;
    height:100px;
    width:100%;
    margin-bottom:50px;
}
.banner-text{
    top:50%;
    left:50%;
    bottom:50%;
    text-align:center;

}
.todo{
color:white;
}